#start-prompt{
    margin-top: 20px;
}

.btn-primary {
    background-color: purple;
    color: gold;
    text-align: center;
    font-weight: bold;
}

#directions {
    text-align: center;
    margin-top: 10px;
}

#question-text {
    display: none;
}

.question{
    display: none;
}