#start-prompt{
    margin-top: 20px;
    text-align: center;
}

.btn-start {
    background-color: purple;
    color: gold;
    text-align: center;
    font-weight: bold;
}

.btn-primary {
    background-color: purple;
    color: gold;
    text-align: center;
    font-weight: bold;
 
}

#directions {
    text-align: center;
    margin-top: 10px;
}

.timer-container{
    position: fixed;
    top: 10px;
    right: 40px;
   
}

#high-scores {
    position: fixed;
    top: 10px;
    left: 40px;
}

