#start-prompt{
    margin-top: 20px;
}

.btn-start {
    background-color: purple;
    color: gold;
    text-align: center;
    font-weight: bold;
}

.btn-primary {
    background-color: purple;
    color: gold;
    text-align: center;
    font-weight: bold;
    display: none
}

#directions {
    text-align: center;
    margin-top: 10px;
}


